* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
    color: #333;
}

/* HEADER */
.header-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2f4f4f;
    width: 100%;
    position: fixed;
    z-index: 1000;
    padding: 10px;
}

.header-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 6px;
}

.header-logo {
    max-width: 43px;
    max-height: 44px;
    border-radius: 50%;
    background-size: cover;
}

.header-logo:hover {
    cursor: pointer;
}

.header-nav-bar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-nav-bar-links ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header-nav-bar-links li {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 14px;
}

.header-nav-bar-links a {
    text-decoration: none;
    color: white;
}

.header-nav-bar-links a:hover {
    cursor: pointer;
    transition: color 0.3s ease;
    color: rgb(154, 218, 246)l
}

.header-hamburger-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 44px;
    cursor: pointer;
    padding-right: 10px;
}

.header-hamburger-menu-button div {
    width: 18px;
    height: 2px;
    background-color: white;
    margin: 3px 0;
    border-radius: 2px;
}

.header-hamburger-menu {
    background-color: #333;
    position: fixed;
    top: 66px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    overflow: hidden;
    max-height: 0;
    border-radius: 0 0 28px 28px;
    transition: max-height 0.9s ease-in-out;
}

.header-hamburger-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-hamburger-menu li {
    padding: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100px;
    margin: 4px;
    font-size: 14px;
}

.header-hamburger-menu li:hover {
    transition: background-color 0.5s ease;
    background-color: rgb(154, 218, 246);
    border-radius: 10px;
    color: #333;
}

.header-hamburger-menu a {
    color: white;
    text-decoration: none;
}

.header-hamburger-menu a:hover {
    cursor: pointer;
    text-decoration: none;
}

.header-hamburger-menu.expanded {
    max-height: 500px;
}

/* MEDIA PROPERTIES */
@media (max-width: 768px) {
    .header-nav-bar-links ul {
        display: none;
    }
}

@media (min-width: 767px) {
    .header-hamburger-menu-button div {
        background-color: #2f4f4f;
    }
}

/* MAIN */
.page-content {
    position: relative;
    top: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    max-width: auto;
    border: 1px solid black;
}

.portrait-section,
.about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;

}

.portrait-section {
    align-items: center;
}


.name-and-title {
    display: flex;
    flex-direction: column;
}

.portrait-photo img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    padding: 20px;
}

.name-and-title h2 {
    font-size: 44px;
    font-weight: 300;
    color: #111;
}

.name-and-title h3 {
    font-size: 26px;
    font-weight: lighter;
    color: #555;
}

.content-left,
.content-right,
.content-center {
    padding: 0 60px 60px 60px;
}

.content-left,
.content-right {
    max-width: 800px;
}

.content-right h4 {
    font-size: 22px;
    padding-bottom: 10px;
}

.content-right p {
    padding-bottom: 20px;
}

.content-right h5 {
    font-size: 18px;
}


/* FOOTER */
footer {
    position: relative;
    top: 68px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
    margin: 0 auto;
    max-width: auto;
    border: 1px solid black;
    background-color: #333;
    color: white;
}

.footer-container ul {
    list-style-type: none;
}

.footer-container a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

.footer-container p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}